<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<div>
<h2>Comments</h2>
<div id="comments">
<% @post.comments.each do |c| %>
<p>
<%= div_for c do %> 
<strong>Posted <%= time_ago_in_words( c.created_at ) %></strong><br />
<%= h(c.body) %>
</p>
<% end %>
<% end %>
</div>

<%= form_for ([ @post, Comment.new ]) do |form| %>
<p>
<%= form.label :body, "New Comment" %>
<br />
<%= form.text_area :body %>
</p>
<p>
<%= form.submit "Add Comment" %>
</p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
